<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<div class="container" id="heroes__container__main">
  <form class="text-center border border-light p-5" #formulario="ngForm" (ngSubmit)="guardar(formulario)">

    <!-- NOMBRE DE LA EMPRESA -->
    <div id="heroes__container__form">
      <input placeholder="Nombre de la empresa" id="companyName" type="text" class="validate" [(ngModel)]="companyName" name="companyName" #name="ngModel">
    </div>

    <!-- NOMBRE DEL PUESTO -->
    <div id="heroes__container__form">
      <input placeholder="Nombre del puesto" id="first_name" type="text" class="validate">
    </div>

    <!-- FECHAS -->
    <div id="heroes__dates">
        <div id="startDateBlock" class="input-field">
          <label for="startDate">Start date</label>
          <input id="startDate" placeholder="" type="date" name="bday">
        </div>
  
        <div id="endDateBlock" class="input-field">
          <label for="endDate">End date</label>
          <input id="endDate" placeholder="" type="date" name="bday">
        </div>
      </div>

    <!-- DESCRIPCIÓN DEL PUESTO -->
    <div class="form-group">
      <textarea class="form-control rounded-10" id="exampleFormControlTextarea2" rows="3" placeholder="Descripción del puesto"></textarea>
    </div>

    <!-- ENVIAR -->
    <button class="waves-effect waves-light btn" type="submit">Send</button>
  </form>
</div>

