<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<div class="container" id="heroes__container__main">
  <div id="heroes__container__form">
    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
    <a class="waves-effect waves-light btn" (click) = insertPrueba()>Send</a>
  </div>

  <div class="input-field">
    <input id="birthdate" type="text" class="datepicker">
    <label for="birthdate">Birthdate</label>
  </div>
  
</div>

